.cake-card {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.card-cake-image {
  width: 15em;
  height: 15em;
  padding: 1em;
}

.cake-image {
  width: 100%;
}

.cake-card .header {
  display: flex;
}

.cake-card .header .name {
  flex-grow: 1;
}

.cake-card .header .delete {
  flex-grow: 0;
}


@media only screen and (max-width: 768px) {

  .card-cake-image {
    width: 12em;
    height: 12em;
    padding: 0.8em;
  }
}