.cake-card {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.card-cake {
  display: flex;
  padding: 1em;
}

.card-cake-image {
  width: 11em;
  height: 11em;
}

.card-cake-comment {
  flex-grow: 1;
  margin-left: 0.5em;
}

.cake-image {
  width: 100%;
}

.cake-card .header {
  display: flex;
}

.cake-card .header .name {
  flex-grow: 1;
}

.cake-card .header .delete {
  flex-grow: 0;
}

.nocakes {
  display: flex;
  justify-content: center;
  align-content: center;
}

.confirmation-container {
  display: flex;
  justify-content: center;
}

.confirmation-cake-image {
  width: 4em;
  height: 4em;
}

.confirmation-message {
  margin-left: 0.5em;
}

@media only screen and (max-width: 768px) {

  .card-cake-image {
    width: 8em;
    height: 8em;
    padding: 0.8em;
  }

  .confirmation-cake-image {
    width: 5em;
    height: 5em;
  }
}